<%= layout("/layouts/boilerplate")%>
    <h3>Edit your listing </h3>
    <form method="post" action="/listings/<%= listing._id %>?_method=PUT"   novalidate class="needs-validation"  enctype="multipart/form-data" >   

        <div class="mb-3">
            <lable class="form-label" for="title">Title</lable>
           <input class="form-control" name="listing[title]"  value="<%=listing.title %>"  type="text" required />
           <div class="valid-feedback">Title looks Good!</div>
           </div>
           
           <div class="mb-3">
    <lable class="form-label " for="description">Description</lable>
           <textarea class="form-control" name="listing[description]"  required ><%=listing.description%></textarea>
          </div> 
    

          <div class="mb-3">
              original listing image 
              <img src="<%=originalurl %>" />
          </div>

    
          <div class="mb-3">
           <lable class="form-label" for="image" >Upload new image </lable>
           <input class="form-control" name="listing[image]"    type="file"  />
          </div>
          
          <div class="row ">
           <div class="mb-3 col-md-4">
           <lable class="form-label" for="price">price</lable>
           <input class="form-control" name="listing[price]"   value="<%=listing.price%>" type="number" required />
           <div class="invalid-feedback">please enter a valid price</div>
           </div>
    
    
           <div class="mb-3 col-md-8">
           <lable class="form-label" for="country">Country</lable>
           <input class="form-control" name="listing[country]"  value="<%=listing.country%>" type="text" required />
           <div class="invalid-feedback">please enter country name</div>
           </div>
    </div>
    
           <div class="mb-3">
           <lable class="form-label" for="location">Location</lable>
           <input class="form-control" name="listing[location]"  value="<%=listing.location %>"  type="text" required />
           <div class="invalid-feedback">please enter location</div>
          </div>
    


          <button class="btn btn-dark add-btn"> Edit </button>

    </form>

   